<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <title>index</title>
  </head>
  <body>
    <div class="container">
      <header class="header-wrapper">
        <div class="header-content">
          <div class="header-content-item">动画</div>
          <div class="header-content-item">漫画</div>
          <div class="header-content-item">游戏</div>
          <div class="header-content-item">文学</div>
        </div>
      </header>
      <div class="wrapper">
        <div class="content">
          <span class="pullup-txt">Loading...</span>
        </div>
      </div>
    </div>
  </body>
</html>
