<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover,user-scalable=no"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <title>about</title>
  </head>
  <body>
    <div class="avatar"></div>
    <div class="img" style="display: none">
      <img src="../../assets/image/43E6CD60BE495FF0D51094AB155EC0BA.png" />

      <img src="" />
    </div>
  </body>
</html>
